.wrapper {
  /* max-width: 700px; */
  width: 100%;
  margin: 0 auto;
  /* box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  padding: 1em;
  border-radius: .5em; */
  transition: all 1s ease-in;
  position: relative;
  display: flex;
  justify-content: center;
}

.button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 0; 
  left: 0; 
}

.button i {
  margin-right: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.details {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.sizeGols{
  font-size: 2.5rem;
}