.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .3em;
    cursor: pointer;
}

.wrapper:hover{
    transform: scale(1.1);
}

.wrapperReminder:hover{
    font-weight: 700;
} 